[submodule "multiplication"]
	path = multiplication
	url = git@github.com:SkiminokD/spring-test-app.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:SkiminokD/spring-test-frontend.git
[submodule "gamification"]
	path = gamification
	url = git@github.com:SkiminokD/spring-test-gamification.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:SkiminokD/spring-test-gateway.git
